<div class="body-nav body-nav-vertical body-nav-fixed">
    <div class="container">
        <ul>
            <li>
                <a href="/admin">
                    <i class="icon-dashboard icon-large"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="/users">
                    <i class="icon-user icon-large"></i> Users
                </a>
            </li>
            <li>
                <a href="/settings">
                    <i class="icon-cogs icon-large"></i> Settings
                </a>
            </li>
        </ul>
    </div>
</div>

<div class='container'>
    <div id="body-content">
        <div class="span12">
            
            <h1><span class="icon-cogs icon-large"></span>Site Settings</h1>

            <div class="row">
                <form id="userSecurityForm" class="form-horizontal" data-ng-submit="saveSettings()">
                    <section id="my-account-security-form" class="page container">
                        
                            <div class="container">

                                <div class="alert alert-block alert-info">
                                    <p>
                                        Enter updated security information for your account as desired.  Fields marked with an asterisk
                                        are required.
                                    </p>
                                </div>
                                <div class="row">
                                    <div id="acct-password-row" class="span7">
                                        <fieldset>
                                            <legend>Account Password</legend><br>
                                            <div class="control-group ">
                                                <label class="control-label">Site Name <span class="required">*</span></label>
                                                <div class="controls">
                                                    <input id="site-name-control" data-ng-model="site_name" name="site_name" class="span4" type="text" value="" autocomplete="false" placeholder="Enter Site Name">

                                                </div>
                                            </div>
                                            <div class="control-group ">
                                                <label class="control-label">Version </label>
                                                <div class="controls">
                                                    <input id="version-control" data-ng-model="version" name="version" class="span4" type="text" value="" autocomplete="false">

                                                </div>
                                            </div>
                                            <div class="control-group ">
                                                <label class="control-label">Allow Sign Up</label>
                                                <div class="controls">
                                                    <input type="radio" name="allow_signup"  data-ng-model="allow_signup" value="1" /> Yes &nbsp;&nbsp;
                                                    <input type="radio" name="allow_signup"  data-ng-model="allow_signup" value="-1" /> No 
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        
                    </section>
                    <footer id="submit-actions" class="form-actions">
                        <button id="submit-button" type="submit" class="btn btn-primary" name="action" value="CONFIRM">Save</button>
                        <button type="button" data-ng-click="cancel()" class="btn" name="action" value="CANCEL">Cancel</button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
    