<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Serenity API</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="../css/build/customize-template.css" />
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <a href="/" id="logo"><span>Serenity Backend API</span></a>
                <nav class="right">
                    <ul class="link-list">
                        {% if isLoggedIn %}
                        <li><a href="{{ urlFor('profile') }}">Account</a></li>
                        <li><a href="{{ urlFor('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ urlFor('login') }}">Login</a></li>
                        <li><a href="{{ urlFor('signup') }}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>

                <ul id="navigation" class="twelve columns">
                    <li><a href="/" class="active"><span>Home</span></a></li>
                </ul>
            </div>
        </header>

        <div class="row">
            <div id="content">
                {% block notification %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% block js %}{% endblock %}
</body>
</html>