{% extends 'site.twig' %}

{% block content %}
    <div>
        <h1>Serentiy Database Migration Complete!</h1>
        <p>
            
            
            <a href="/api">Go to the api index</a> to view available api methods.
        </p>
    </div>
{% endblock %}