{% extends 'base.twig' %}

{% block notification %}
{% if flash.info or flash.error %}
<div id="notification">
	{% if flash.info %}<div class="alert alert-success">{{ flash.info }}</div>{% endif %}
	{% if flash.error %}
    <div class="alert alert-error">
        {% for error in flash.error %}
            {{ error }}<br>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block js %}
<!-- Core Asset Libraries -->
	<script src="../js/lib/jquery.min.js" type="text/javascript"></script>
{% endblock %}